@model SAT.MVC.DATA.EF.Student

@{
    ViewBag.Title = "Create";
}

<h2><br />New Student</h2>


@using (Html.BeginForm("Create", "Students", FormMethod.Post, new { enctype = "multiport/form-data" }))
{
    @Html.AntiForgeryToken()

    <hr />



    <div id="headerLeft">
        <p>
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.StudentPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.StudentPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentPhone, "", new { @class = "text-danger" })
        </p>
    </div>
    <hr />
    <div id="headerRight">
        <p>
            <img src="~/Content/images/noimg.jpg" title="No Image" alt="Default Image" /> <br />
            <input type="file" name="studentImage" />
            <br />
        </p>
        <p>
            @Html.LabelFor(model => model.SSID, "Student Status", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("SSID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SSID, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.Major, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Major, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Major, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.LabelFor(model => model.HasScholarship, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.HasScholarship)
            @Html.ValidationMessageFor(model => model.HasScholarship, "", new { @class = "text-danger" })
        </p>
    </div>
    <div class="clearfix"></div>
    <br />
    <hr />
    <div id="emergencyContact">
        <p>

            @Html.EditorFor(model => model.EmergencyContact, new { htmlAttributes = new { @class = "form-control", placeholder = "Emergency Contact Name" } })
            @Html.ValidationMessageFor(model => model.EmergencyContact, "", new { @class = "text-danger" })
        </p>
        <p>

            @Html.EditorFor(model => model.EmergencyPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Emergency Number" } })
            @Html.ValidationMessageFor(model => model.EmergencyPhone, "", new { @class = "text-danger" })
        </p>
        <p> </p>
    </div>

    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
